// app global css in Sass form
@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,800&display=swap');

$font   : 'Kanit', sans-serif;
$font-weight : 400
body 
    font-family: $font;
    font-weight: $font-weight;
    background-color: $grey-3

.white-font
    color: white

